{% extends "base.html" %}

{% import "macro/pages.html" as pg %}

{% block style %}
    <link rel="stylesheet"
          href="{{ url_for("static", filename="vendor/bootstrap-select-1.13.14/css/bootstrap-select.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="vendor/font-awesome-4.7.0/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/interface/index.css") }}">
{% endblock %}

{% block content %}

    <!-- 面包屑导航 -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">接口自动化测试管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">任务管理</li>
        </ol>
    </nav>

    <!-- 条件筛选栏 -->
    <div class="card">
        <div class="card-body">
            <div class="condition-screening">
                <div class="container-fluid bg-gray-200">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search">
                                <label>任务id</label>
                                  <input class="task-id-input" type="text" placeholder="请输入id">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="search">
                                <label>业务类型</label>
                                <select id="buss_type" class="selectpicker" data-live-search="true" data-width="50%">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="search">
                                <label>渠道</label>
                                <select id="channel" class="selectpicker" data-live-search="true" data-width="50%">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="search">
                                <label>版本</label>
                                <select class="selectpicker" data-live-search="true" data-width="50%">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search">
                                <label>类型</label>
                                <select class="selectpicker" data-live-search="true" data-width="50%">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search">
                                <label>任务状态</label>
                                <select class="selectpicker" data-live-search="true" data-width="50%">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="search">
                                <div class="row">
                                    <div class="search-btn">
                                        <button type="button" class="btn btn-primary">搜索</button>
                                    </div>

                                    <div class="create-btn">
                                        <button type="button" class="btn btn-success">新增测试任务</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <div class="task-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">任务ID</th>
                                <th scope="col">渠道</th>
                                <th scope="col">业务类型</th>
                                <th scope="col">所属版本</th>
                                <th scope="col">类型</th>
                                <th scope="col">任务状态</th>
                                <th scope="col">消息通知</th>
                                <th scope="col">发起人</th>
                                <th scope="col">创建时间</th>
                                <th scope="col">完成时间</th>
                                <th scope="col">测试报告</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.task_id + 1 }}</td>
                                    <td>{{ task.channel }}</td>
                                    <td>{{ task.buss_type }}</td>
                                    <td>{{ task.version }}</td>
                                    <td>{{ task.task_type }}</td>
                                    <td>{{ task.task_status }}</td>
                                    <td>{{ task.notice }}</td>
                                    <td>{{ task.sponsor }}</td>
                                    <td>{{ task.create_time }}</td>
                                    <td>{{ task.complete_time }}</td>
                                    <td><a href="{{ task.test_report }}" target="_blank">详情</a></td>
                                    <td>
                                        <button class="op-btn"><span>执行测试</span></button>
                                        <button class="op-btn"><span>编辑</span></button>
                                        <button class="op-btn"><span>删除</span></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            <!-- 分页 -->
{#                            <div class="blog_paginate">#}
{#                                {{ pg.page(tasks, "blog.index") }}#}
{#                            </div>#}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="{{ url_for("static", filename="vendor/bootstrap-select-1.13.14/js/bootstrap-select.js") }}"></script>

    <script type="text/javascript">

        var buss_type_list_content = {};  // 业务类型列表内容
        var channel_list_content = {};  // 渠道列表
        var version_list = {};  // 版本列表
        var task_type_list = {};  // 任务类型列表
        var task_status_list = {};  // 任务状态列表


        function query_buss_type(obj) {
            /**
             * 查询业务类型
             * @returns
             */

            var url = host + "/interface/api/v1/buss_type";
            var methods = "POST";
            var params = {};

            http(url, params, methods, function success(data) {

                var content = data.data;

                var addhtml = "<option selected value=\"0\">请选择</option>";

                $.each(content, function (k, v) {
                    addhtml += "<option value=" + (parseInt(k) + 1) + ">" + v + "</option>";
                });

                $(obj).html(addhtml);

                // 刷新动态填充数据
                $('.selectpicker').selectpicker('refresh');

                $('.selectpicker').selectpicker('render');

            }, function fail(data) {

            });

        }

        function get_buss_type_list() {
            /**
             * 获取业务类型列表
             * @returns
             */

            var buss_type = {
                "0": "国内",
                "1": "独立",
                "2": "海外"
            };

            var addhtml = "<option disabled selected hidden value=\"0\">请选择</option>";

            $.each(buss_type, function (k, v) {
                addhtml += "<option value=" + (parseInt(k) + 1) + ">" + v + "</option>";
            });

            buss_type_list_content = addhtml;

        }

        function render_list(obj, content){
            /**
             * 渲染业务类型列表
             * @returns
             */

            $(obj).html(content);

            // 刷新动态填充数据
            $('.selectpicker').selectpicker('refresh');

            $('.selectpicker').selectpicker('render');
        }

        function query_list_info(type) {
            /**
             * 获取列表信息（搜索面板）
             * @returns
             */

            var url = host + "/interface/api/v1/" + type;
            var methods = "POST";
            var params = {};

            http(url, params, methods, function success(data) {

                var content = data.data;

                var addhtml = "<option disabled selected hidden value=\"0\">请选择</option>";

                $.each(content, function (k, v) {
                    // addhtml += "<option value=" + (parseInt(k) + 1) + ">" + v + "</option>";
                    addhtml += "<option value=" + k + ">" + v + "</option>";
                });

                if (type === "channel") {
                    channel_list_content = addhtml;
                } else if (type === "version") {
                    version_list = addhtml;
                } else if (type === "task_type") {
                    task_type_list = addhtml;
                } else if (type === "task_status") {
                    task_status_list = addhtml;
                }

            }, function fail(data) {
                console.log("查询" + type + "失败");
            });
        }

        function pre_loading(){
            /**
             * 预加载部分内容，优化体验
             */

            query_list_info("version");
            query_list_info("task_type");
            query_list_info("task_status");

        }

        $(function () {

            // 执行预加载
            pre_loading();

            // 默认内容
            $(".selectpicker").selectpicker({
                noneSelectedText: '请选择'
            });

            // select 控件选中事件
            $(".selectpicker").on("changed.bs.select", function () {
                var dropdown_btn = $(this).next();  // 获取下拉按钮，添加icon图标
                /* 移除down属性，用于改变图标 */
                dropdown_btn.removeClass("down");
            });

            /**
             * select 控件展开事件
             */
            $(".selectpicker").on("shown.bs.select", function () {
                var dropdown_btn = $(this).next();  // 获取下拉按钮，添加icon图标
                /* 添加down属性，用于改变图标 */
                dropdown_btn.addClass("down");

                // 获取标签内容，用于区分
                var label_text = $(this).parent().prev().html();

                // 第一次直接请求
                if ($.trim(label_text) === "业务类型" && Object.keys(buss_type_list_content).length === 0) {
                    get_buss_type_list();
                    render_list(this, buss_type_list_content);
                    query_list_info("channel");
                } else if ($.trim(label_text) === "渠道" && Object.keys(channel_list_content === 0)){
                    var is_select_buss_type = $("#buss_type").next().text();
                    // 如果业务类型没选中不渲染页面（业务类型和渠道级联查询）
                    if ($.trim(is_select_buss_type) !== "请选择") {
                        // 解决一直渲染，做优化，仅初始状态做渲染操作
                        if ($.trim($(this).next().text()) === "请选择") {
                            render_list(this, channel_list_content)
                        }
                    }
                } else if ($.trim(label_text) === "版本") {
                    // 仅初始状态做渲染操作
                    if ($.trim($(this).next().text()) === "请选择") {
                        render_list(this, version_list);
                    }
                } else if ($.trim(label_text) === "类型") {
                    // 仅初始状态做渲染操作
                    if ($.trim($(this).next().text()) === "请选择") {
                        render_list(this, task_type_list);
                    }
                } else if ($.trim(label_text) === "任务状态"){
                    // 仅初始状态做渲染操作
                    if ($.trim($(this).next().text()) === "请选择") {
                        render_list(this, task_status_list);
                    }
                }
            });

             // select 控件选中事件
            $(".selectpicker").on("hidden.bs.select", function () {
                var dropdown_btn = $(this).next();  // 获取下拉按钮，添加icon图标
                /* 移除down属性，用于改变图标 */
                dropdown_btn.removeClass("down");
            });

            // 悬停事件处理
            $(".dropdown-toggle").hover(function () {

                // 获取输入框的值（其实是按钮）
                var content = $(this).text();
                // 已选中
                if ($.trim(content) !== "请选择"){
                    $(this).addClass("delete");
                    // 被点击，清空样式
                    $(".dropdown-toggle").on("click", function (event) {
                        $(this).removeClass("delete");
                    })
                }
            }, function () {
                // 鼠标焦点移开事件清空样式
                $(this).removeClass("delete")
            });

            // 点击事件（清空业务类型）
            $(".dropdown-toggle").on("click", function (event) {
                // 获取控件元素的位置
                var x = $(this).width();
                var y = $(this).height();
                // 获取点击位置（点击控件的位置）
                var click_x = event.offsetX;
                var click_y = event.offsetY;

                // 点击位置判断
                if ($(this).hasClass("delete") && click_x > (x / 2 + 50)){
                    // 恢复初始状态
                    $(this).prev().selectpicker('val',['noneSelectedText']);
                    // 业务类型关联渠道
                    if ($(this).prev().attr("id") === "buss_type") {
                        $("#channel").selectpicker('val',['noneSelectedText']);
                    }
                }
            });

        });

    </script>
{% endblock %}